ul {
    list-style: square;
    padding-left: 30px;
}

.spendenbarometer-settings-layout {
    display: grid;
    grid-template-columns: 1fr 250px 1fr;
    gap: 20px;
    margin-top: 30px;
}

.spendenbarometer-settings {
    display: grid;
    grid-template-columns: 300px 200px;
    grid-template-rows: repeat(5, 40px);
    align-items: baseline;
    gap: 10px;
}

.spendenbarometer-box {
    padding: 20px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.spendenbarometer-box > * {
    width: 100%;
}

.spendenbarometer-box > h2 {
    margin-top: 0;
    font-size: 18px;
}

.spendenbarometer-box > p {
    font-size: 14px;
    color: #555;
}

.spendenbarometer-anleitung ol {
    margin: 10px 0;
    padding-left: 20px;
}

.spendenbarometer-anleitung li {
    margin-bottom: 10px;
}

.spendenbarometer-anleitung code {
    background: #eee;
    padding: 2px 5px;
    border-radius: 3px;
    font-family: Consolas, Monaco, 'Courier New', Courier, monospace;
    font-size: 90%;
}

.spendenbarometer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    border-radius: 5px;
}

.spendenbarometer .spendenbalken {
    transition: all 0.5s ease-in-out;
}

